{% extends 'layout.html' %}
{% block title %}
Add Announcement
{% endblock title %}


{% block content %}

<div class="col-md-12">
        <div class="card">
            <form method="post" action="{{ url_for('admin.add_announment') }}" class="form-horizontal">
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Add Announcement</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Title</label>

                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" class="form-control" name = "title" value="" placeholder="Title">
                                <!--<span class="help-block">A block of help text that breaks onto a new line.</span>-->
                            <span class="material-input"></span></div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 label-on-left">Content</label>

                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <textarea type="text" class="form-control" name="content" rows="5" placeholder="Content of Annou"> </textarea>
                                <!--<span class="help-block">A block of help text that breaks onto a new line.</span>-->
                            <span class="material-input"></span></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                </div>
            </form>
        </div>
</div>
{% endblock %}
