 <html>
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{% block title %}{% endblock %}</title>

	<!-- Canonical SEO -->
  <link rel="canonical" href="http://www.creative-tim.com/product/material-dashboard-pro"/>


	<!-- Bootstrap core CSS     -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />



	<!--  Material Dashboard CSS    -->
	<link href="/css/material-dashboard98f3.css?v=1.3.0" rel="stylesheet"/>

	<!--  CSS for Demo Purpose, don't include it in your project     -->
	<link href="/css/demo.css" rel="stylesheet" />


	<!--     Fonts and icons     -->
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>

<body>
        <div class="wrapper">

                <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
                Tip 2: you can also add an image using data-image tag
                Tip 3: you can change the color of the sidebar with data-background-color="white | black"
            -->

            <div class="logo">
                <a class="simple-text logo-normal">
									&nbsp;&nbsp;&nbsp;&nbsp;
									{% if session["name"] %}
                     {{ session["name"] }}
									{% else %}
										Admin
									{% endif %}
                </a>
            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li class="active">
                        <a href="{{ url_for('main.index') }}">
                            <i class="material-icons">dashboard</i>
                            <p> Dashboard </p>
                        </a>
                    </li>
										{% if session["admin"] %}
												<li class="">
														<a href="{{ url_for('admin.add_announment') }}">
																<i class="material-icons">queue</i>
																<p> Add Announcement </p>
														</a>
												</li>
										{% endif %}
                </ul>
            </div>
        </div>


                <div class="main-panel">

                    <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> Dashboard </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">dashboard</i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                <span class="notification">{{ announcements|length }}</span>
                                <p class="hidden-lg hidden-md">
                                    Notifications
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
																{% for announcement in announcements %}
	                                <li><a> {{announcement[1]}} - {{ announcement[2] }}</a></li>
																{% endfor %}
                            </ul>
                        </li>
                        <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>

												<li class="dropdown">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown">
															<i class="material-icons">person</i>
															<p class="hidden-lg hidden-md">
																Profile
																<b class="caret"></b>
															</p>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="{{ url_for('main.edit_info') }}">Edit Info</a></li>
															<li><a href="{{ url_for('main.logout') }}">Logout</a></li>
														</ul>
												</li>
                    </ul>
                </div>
            </div>
        </nav>




                        <div class="content">
                            <div class="container-fluid">
                                 <div class="row">
                                     {% block content %}
                                     {% endblock %}
                                </div>
                            </div>
                        </div>
<footer>
        <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                 Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                  Portofolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

	<!--   Core JS Files   -->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/material.min.js" type="text/javascript"></script>
    <script src="/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="../../../../cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <!-- Library for adding dinamically elements -->
    <script src="/js/arrive.min.js" type="text/javascript"></script>

    <!-- Forms Validations Plugin -->
    <script src="/js/jquery.validate.min.js"></script>

    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="/js/moment.min.js"></script>

    <!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
    <script src="/js/chartist.min.js"></script>

    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="/js/jquery.bootstrap-wizard.js"></script>

    <!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
    <script src="/js/bootstrap-notify.js"></script>

    <!--   Sharrre Library    -->
    <script src="/js/jquery.sharrre.js"></script>

    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="/js/bootstrap-datetimepicker.js"></script>

    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="/js/jquery-jvectormap.js"></script>

    <!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
    <script src="/js/nouislider.min.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1_8C5Xz9RpEeJSaJ3E_DeBv8i7j_p6Aw"></script>

    <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/js/jquery.select-bootstrap.js"></script>

    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="/js/jquery.datatables.js"></script>

    <!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
    <script src="/js/sweetalert2.js"></script>

    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/js/jasny-bootstrap.min.js"></script>

    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="/js/fullcalendar.min.js"></script>

    <!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/js/jquery.tagsinput.js"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="/js/material-dashboard98f3.js?v=1.3.0"></script>

    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="/js/demo.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

            demo.initVectorMap();
        });
    </script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#sel_pic").click(function(){
            var selectedValue = $(this).children("option:selected").val();
            $.post("/drop",{"selectedValue":selectedValue},function(data){
                    var values= [];
               
      values=data.split(',');
      var pulkit='<div class="btn-group bootstrap-select open"><button type="button" class="btn dropdown-toggle select-with-transition" data-toggle="dropdown" role="button" title="'+values[0]+'" aria-expanded="true"><span class="filter-option pull-left">'+values[0]+'</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="true">';
      values.forEach(element => {
        pulkit=pulkit+'<li data-original-index="0"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" ><span class="text">'+element+'</span><span class="material-icons  check-mark"> done </span></a></li>';
      });
      pulkit=pulkit+'</ul></div><select class="selectpicker" data-style="
      select-with-transition" name="city" data-size="440" tabindex="-98">';
            values.forEach(element => {
        pulkit=pulkit+'<option value="'+element+'">'+element+'</option>';
      });
      pulit=pulkit+' </select>'
                $('#ind_sec').html(pulkit);
            
                
            })
        });
    });
    </script>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

		<script type="text/javascript">
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        function flashMessages() {
          {% for category, message in messages %}
          $.notify({
            icon: "ti-bell",
            message: '{{ message }}'
          },{
            type: '{{ category }}',
            timer: 4000,
            placement: {
              from: "top",
              align: "center"
          }
          });
          {% endfor %}
        }
            window.onload = flashMessages;
            {% endif %}
        {% endwith %}
    </script>

</body>

</html>
